*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SF Pro Text', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
